@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    margin: unset;
    scroll-behavior: smooth;
}

.texto-colorido {
    color: #D2A3BC;
}

p {
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
}

h2 {
    font-size: 40px;
    font-family: 'Lilita One', cursive;
    color: #D2A3BC;
    margin-left: 5rem;
    margin-top: 4rem;
}


a {
    font-size: 20px;
    color: #1A2211;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}

.modal-content {
    background-color: #F0F5EA
}

.modal-content h2{
    margin-top: 0;
    margin-left: 0;
}

.col-form-label {
    display: block;
    font-size: 25px;
    font-family: 'Lilita One', cursive;
    color: #D2A3BC;
    margin-bottom: 0;
}

.form-check-input {
    background-color: #A3BCD2;
}

.form-check-input:checked {
    background-color: #A3BCD2;
    border-color: #A3BCD2;
}

.modal-dialog {
    width: 670px;
}

.modal-header {
    border: 0;
    padding-bottom: 0;
}

.modal-footer {
    border: 0;
    padding-top: 0;
}

.rosa {
    border-radius: 50px;
    padding: 7px 32px;
    background-color: #D2A3BC;
    font-size: 20px;
    color: #1A2211;
    font-family: 'Varela Round', sans-serif;
    transition-duration: 0.4s;
    border: 0;
}

.rosa:hover {
    background-color: #d185ae;
}

.azul {
    border-radius: 50px;
    padding: 7px 32px;
    background-color: #A3BCD2;
    font-size: 20px;
    color: #1A2211;
    font-family: 'Varela Round', sans-serif;
    transition-duration: 0.4s;
    border: 0;
}

.azul:hover {
    background-color: #8fb0ce;
}


.form-control {
    background-color: #DFE9D3;
    font-size: 18px;
    color: #1A2211;
}

.form-text {
    color: rgba(26, 34, 17, 0.67);
}

.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(8vh, 60px);
    grid-template-areas:
        "header"
        "main"
        "footer";
}

body {
    background-color: #F0F5EA;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    grid-area: header;
    display: grid;
    background-color: #F0F5EA;
    grid-template-columns: minmax(max-content, auto) 240px 4fr;
    align-items: center;
    grid-template-areas:
        "logo menu botao";
}

main {
    grid-area: main;
}

.stars {
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    grid-area: menu;
}

nav a:hover {
    transition-duration: 0.2s;
    color: #D2A3BC;
}

.contato {
    grid-area: botao;
    justify-self: end;
    margin: 0 32px;
    border-radius: 50px;
    padding: 4px 32px;
    background-color: #A3BCD2;
    font-size: 20px;
    color: #1A2211;
    font-family: 'Varela Round', sans-serif;
    transition-duration: 0.4s;
    border: 0;
}

.contato:hover {
    background-color: #8fb0ce;
}

.logo {
    grid-area: logo;
    margin: 0 32px;
}

.logo img:hover {
    animation-name: rotateIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 270deg);
    }

    100% {
        transform-origin: center;
        transform: none;
    }
}

h1 {
    font-size: 4.5vw;
    font-family: 'Lilita One', cursive;
    color: #1A2211;

}

.landing-l {
    padding: 40px 0 120px;
}

.landing-l button {
    font-size: 1.5vw;
    padding: 6px 25px;
    margin-left: 8px;
}

.landing-l img {
    max-width: 100%;
    width: auto;
    margin-bottom: 10%;
}

.landing {
    background-color: #DFE9D3;
    display: grid;
    grid-template-rows: minmax(370px, 40vw);
    grid-template-columns: minmax(390px, 1fr) 1fr;
    margin: 21px 32px;
    padding: 0 4%;
}

.landing p {
    font-size: 1.5vw;
    margin-bottom: 7%;
}

.landing-r {
    padding: 21px 0;
    justify-self: end;
}

.landing-r img {
    height: 100%;
}

.novo {
    padding: 0 80px 40px 80px;
}

.carousel {
    background-color: #DFE9D3;
    max-width: 1060px;
    border-radius: 20px;
    margin: 0 auto;
}

.texto-slide {
    padding: 20px;
    margin-left: 20px;
}

/* Estilos para a imagem do slide */
.imagem-slide {
    padding: 20px;
    float: right;
}

/* Estilos para garantir que a imagem fique centralizada */
.imagem-slide img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.line {
    padding: 0 30px;
    width: 100%;
    height: auto;
}

.about {
    background-color: #DFE9D3;
    margin: 0 2rem 3rem 2rem;
    padding: 2% 5%;
}

.icon {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    animation: wobble-hor-bottom 4s infinite both;
}

@keyframes wobble-hor-bottom {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      transform: translateX(15px) rotate(6deg);
    }
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }

  
h3 {
    font-size: 32px;
    font-family: 'Lilita One', cursive;
    color: #D2A3BC;
}

h4 {
    font-size: 20px;
    font-family: 'Lilita One', cursive;
    color: #8fb0ce;
    margin-top: 0.5rem;
    text-align: center;
}

/* Footer */
.blue {
    background-color: #8fb0ce;
    height: 2rem;
    margin-top: 3rem;
}

.info {
    background-color: #DFE9D3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 1.7rem 0;
    gap: 1rem;
}

.info p {
    font-size: 15px;
    color: rgba(26, 34, 17, 0.56);
}

.footersc {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
}

.footersc a {
    font-size: 16px;
}

.footersc img {
    width: auto;
    height: 100%;
}

.iconfooter {
    width: min-content;
    height: auto;
    margin: 0 auto;
}

.bloco {
    background-color: #DFE9D3;
    padding: 0.5rem 1rem;
}

.bloco h3 {
    margin-bottom: 0;
}

.att {
    margin: 2rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (max-width: 767px) {

    .modal-dialog {
        width: unset;
    }

    p {
        font-size: 15px;
    }

    h1 {
        font-size: 7.5vw;
        font-family: 'Lilita One', cursive;
        color: #1A2211;

    }

    h2 {
        font-size: 26px;
        margin-left: 1rem;
        margin-top: 1.7rem;
    }

    .landing {
        position: relative;
        grid-template-columns: 100%;
        grid-template-rows: minmax(250px, auto);
        margin: 1rem;
        padding: 0 4%;
        z-index: -1;
        grid-template-areas:
            "merged";
    }

    .landing-r {
        grid-area: merged;
    }

    .landing-l {
        grid-area: merged;
    }

    .landing-r img {
        position: absolute;
        top: 0;
        padding: 21px 4%;
        right: 0;
        opacity: 0.5;
        z-index: -2;
    }

    .landing-l button {
        display: none;
    }

    .landing p {
        font-size: 3vw;
        margin-top: 5%;
        margin-bottom: 0;
    }

    .landing-l img {
        display: none;
    }

    .contato {
        display: none;
    }

    .novo {
        padding: 0 1rem 2rem 1rem;
    }

    .carousel {
        display: none;
    }

    .line {
        padding: 0 0.5rem;
    }

    .about {
        margin: 0 1rem 2rem 1rem;
    }

    .icon {
        margin-top: 2%;
        width: 35%;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
        margin-bottom: 2rem;
    }

    .blue {
        margin-top: 1.7rem;
    }

    .info {
        padding: 1rem 0;
        gap: 0.7rem;
    }

    .info p {
        font-size: 12px;
    }

    /* talvez eu precise mexer nisso */
    .footersc {
        display: flex;
        justify-content: center;
        gap: 0.7rem;
    }

    .footersc a {
        font-size: 14px;
    }

    .footersc img {
        max-width: 18px;
    }

    .iconfooter {
        max-width: 100px;
    }

}

@media (max-width: 400px) {

    p {
        font-size: 11px;
    }

    h1 {
        font-size: 7.5vw;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 15px;
    }

    .info {
        gap: 0.5rem;
    }

    .info p {
        font-size: 10px;
    }

    .footersc {
        gap: 0.5rem;
    }

    .footersc a {
        font-size: 12px;
    }

    .blue {
        height: 1.5rem;
    }

    .footersc img {
        max-width: 16px;
    }

    .iconfooter {
        max-width: 90px;
    }
}