@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    margin: unset;
    scroll-behavior: smooth;
}

a {
    font-size: 20px;
    color: #1A2211;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(8vh, 60px);
    grid-template-areas:
    "header"
    "main"
    "footer";
}

body {
    background-color: #34c9ff;
}

header {
    position: sticky;
    top: 0;
    grid-area: header;
    display: grid;
    background-color: #eaf2f5;
    grid-template-columns: minmax(max-content, auto) 240px 4fr;
    align-items: center;
    grid-template-areas:
        "logo menu botao";
}

main{
    grid-area: main;
}

nav {
    display:flex; 
    justify-content: space-between;
    grid-area: menu;
}

.botao {
    grid-area: botao;
    justify-self: end;
    margin: 0 32px;
}

.botao p{
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
}

.logo {
    grid-area: logo;
    margin: 0 32px;
}

.logo img:hover {
    animation-name: rotateIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 270deg);
    }

    100% {
        transform-origin: center;
        transform: none;
    }
}

